<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="shortcut icon"
      href="static/img/643255074c61875706bb6b34b0c6f470.png"
      type="image/x-icon"
    />
    <title>Balance Ballas</title>
    <style>
      .bg-purple {
        background-color: #a4508b;
        background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
      }
    </style>
  </head>
  <body class="bg-purple">
    <div>
      <table class="container border border-2 text-center text-light">
        <tr class="border">
          <th class="col-4 bg-primary">Name server</th>
          <th class="col-4 bg-warning">Current Balance</th>
          <th class="col-1 bg-dark">Payed</th>
          <th class="col-3 bg-success">+ / -</th>
        </tr>
        <tr>
          <td class="border">Lorem ipsum dolor sit amet.</td>
          <td class="border">Lorem ipsum dolor sit amet.</td>
          <td class="border"><input type="checkbox" /></td>
          <td class="border">
            <input type="number" class="col-8" />
            <input type="submit" value="+" class="bg-secondary text-light" />
            <input type="submit" value="-" class="bg-secondary text-light" />
          </td>
        </tr>
        <tr>
          <td class="border">Lorem ipsum dolor sit amet.</td>
          <td class="border">Lorem ipsum dolor sit amet.</td>
          <td class="border"><input type="checkbox" /></td>
          <td class="border">
            <input type="number" class="col-8" />
            <input type="submit" value="+" class="bg-secondary text-light" />
            <input type="submit" value="-" class="bg-secondary text-light" />
          </td>
        </tr>
        <tr>
          <td class="border">Lorem ipsum dolor sit amet.</td>
          <td class="border">Lorem ipsum dolor sit amet.</td>
          <td class="border"><input type="checkbox" /></td>
          <td class="border">
            <input type="number" class="col-8" />
            <input type="submit" value="+" class="bg-secondary text-light" />
            <input type="submit" value="-" class="bg-secondary text-light" />
          </td>
        </tr>
        <tr>
          <td class="border">Lorem ipsum dolor sit amet.</td>
          <td class="border">Lorem ipsum dolor sit amet.</td>
          <td class="border"><input type="checkbox" /></td>
          <td class="border">
            <input type="number" class="col-8" />
            <input type="submit" value="+" class="bg-secondary text-light" />
            <input type="submit" value="-" class="bg-secondary text-light" />
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
